@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Afacad';
    src: url('./fonts/Afacad-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Afacad', sans-serif;
  }
  
